<!DOCTYPE>
<html >
    <head>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>-->
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet" type="text/css">
        <title></title>
    </head>
    <body ng-app="myMap">
        <div class="container">
            <div id="angular-test" style="margin: 10px" ng-app>
                <div ng-controller="EnterCtrl">
                    <h1>Viagogo test</h1>     
                    <form ng-submit="goToAnswer()">
                        <input ng-model="formData.x"  size="2" placeholder="X" required type="number" min="0" max="20">
                        <input ng-model="formData.y"  size="2" placeholder="Y" required type="number" min="0" max="20">
                        <input class="btn-primary" type="submit" value="Get Prices">
                    </form>
                </div>
            <div>
        </div>
        <!--Code gets placed in the ui-view tags
        as state changes-->
          <ui-view></ui-view>  
    </body>
</html>