.friends {
  margin-top: 20px;
  border-collapse: collapse;
  text-align: center;
}

.friends th {
  border-bottom: 1px solid;
}
.friends td, .friends th {
  border-left: 1px solid;
  padding: 5px 10px;
}
.friends td:first-child, .friends th:first-child {
  border-left: none;
}
.container{
    margin-top: 30px;
    /*margin-left: 10px;*/
    text-align:left;
}

h1{
  margin-bottom: 50px;
}